/* You can add global styles to this file, and also import other style files */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url('/assets/imgs/prode-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  font-family: "Calibre Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  letter-spacing: 0.025em;
}
a {
    color: #fff;
    text-decoration: none;
}

/*** Margin & Paddings styles ***/
.mtl, .mal { margin-top: 20px !important; }
.mtm, .mam { margin-top: 10px !important; }
.mts, .mas { margin-top: 5px !important; }
.mrm, .mam { margin-right: 10px !important; }
.mbm, .mam { margin-bottom: 10px !important; }
.mrs, .mas { margin-right: 5px !important; }
.mbs, .mas { margin-bottom: 5px !important; }
.mls, .mas { margin-left: 5px !important; }

.pl30, .pa30 { padding-left: 30px !important; }
.ptl, .pal { padding-top: 20px !important; }
.ptm, .pam { padding-top: 10px !important; }
.plm, .pam { padding-left: 10px !important; }
.pts, .pas { padding-top: 5px !important; }
.prs, .pas { padding-right: 5px !important; }
.pls, .pas { padding-left: 5px !important; }
.ptn, .pan { padding-top: 0 !important; }
.prn, .pan { padding-right: 0 !important; }
.pbn, .pan { padding-bottom: 0 !important; }
.pln, .pan { padding-left: 0 !important; }
/*** End Margin & Paddings styles ***/

/*** Loading styles ***/
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
}
/*** End Loading styles ***/

/*** Header styles ***/
#panel header .toggle-button {
  font-size: 18px;
  background: transparent;
  border: none;
}
#panel header .toggle-button-right {
  border: 1px solid #fff;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#panel header .toggle-button:focus,
#panel header .toggle-button-right:focus { outline: none; }

a.logo { text-decoration: none; }
a.logo:hover,a.logo:active { color: inherit; }
/*** End Header styles ***/

/*** SlideOut styles ***/
.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}
.slideout-menu-left {
  left: 0;
}
.slideout-menu-right {
  right: 0;
}
.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  //background-color: transparent; /* A background-color is required */
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
}
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}
.slideout-open .slideout-menu {
  display: block;
}
/*** END SlideOut styles ***/

/*** Sidebar Menu ***/
.menu {
    background-color: #000;
    background-image: linear-gradient(175deg, #000, #111);
}
.menu-section { margin: 25px 0; }
.menu-section-title {
    text-transform: uppercase;
    color: #85888d;
    font-weight: 200;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 0 20px;
    margin: 0;
}
.menu-section-list {
    padding: 0;
    margin: 10px 0;
    list-style: none;
}
.menu-section-list li {
    border-bottom: 1px solid #85888d;
}
.menu-section-list a {
  display: block;
  padding: 10px 20px;
}
.menu-section-list a:focus,
.menu-section-list a:hover {
  color: inherit;
  text-decoration: none;
}
/*** Sidebar Menu ***/

/*** Main Content ***/
.container-fluid { padding: 0; }
.main-content { padding: 10px 15px 20px; }
.main-content h1 {
  font-size: 20px;
  margin-top: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
}
/*** END Main Content ***/

/*** Dashboard ***/
.create-prode {
  margin: 0 0 20px;
}
.create-prode a {
  font-size: 16px;
  font-weight: bold;
}
.create-prode .col-xs-12 { padding: 0; }
.snapshot-wrapper .row { margin: 0; }
.prode-snapshot {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  margin-bottom: 10px;
  cursor: pointer;
}
.prode-snapshot img {
  //-webkit-border-radius: 50%;
  //-moz-border-radius: 50%;
  //border-radius: 50%;
  max-height: 69px;
  max-width: 65px;
}
.prode-snapshot .ttitle {
  margin: 0;
  font-size: 18px;
}
.prode-snapshot span { display: block; }
.prode-snapshot .players { color: #ccc; }
.prode-snapshot .info { color: #999; }
.prode-snapshot .pos { padding: 0; }
.prode-snapshot .pos .posl {
  display: inline-block;
  width: 65%;
  font-size: 12px;
}
.prode-snapshot .pos .posl .position {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 7px;
}
.prode-snapshot .pos .posr {
  display: inline-block;
  width: 25%;
}
.prode-snapshot .pos .posr .fa-minus { color: #337ab7; }
.prode-snapshot .pos .posr .fa-level-up { color: #468847; }
.prode-snapshot .pos .posr .fa-level-down { color: #d9534f; }
/*** END Dashboard ***/

/*** Fantasy Tournament Details ***/
.table-header .th { text-transform: uppercase; }
.pos-item {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  margin: 10px 0;
}
.pos-item.myself { background: rgba(99, 99, 99, 0.35); }
.pos-item .points {
  font-weight: bold;
  font-size: 18px;
}
.pos-item .username {
  position: relative;
  top: 4px;
}
.share-url {
  font-size: 16px;
  word-wrap: break-word;
}
/*** END Fantasy Tournament Details ***/

/*** Results Details ***/
.result-date {
  background-color: rgba(96, 125, 139, 0.75);
  text-align: center;
  padding: 2px 4px;
  font-size: 13px;
}
.result-detail {
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 0 10px;
}
.result-detail .col-xs-3 { padding: 5px 10px 0; }
.result-detail .team { text-align: center; }
.result-detail .team img { width: 76px; }
.result-detail .team span {
  font-weight: bold;
  display: block;
}
.result-detail .result span {
  display: block;
  text-align: center;
  color: #ccc;
}
.result-detail .result span.numbers {
  font-weight: bold;
  color: #fff;
  font-size: 24px;
}
.result-detail .result span.numbers.yours {
  font-size: 20px;
  color: #337ab7; /* text-primary */
}
.result-detail .result .predict {
  text-align: center;
  color: #333;
  border-radius: 4px;
  border-width: 1px;
  -moz-appearance: textfield;
}
.result-detail .result .predict::-webkit-outer-spin-button,
.result-detail .result .predict::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.result-detail .result .predict:disabled {
  background-color: #999;
  border-color: #666;
  color: #ccc;
}
.result-detail .points {
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
}
.result-detail .points .pt {
  font-size: 26px;
  display: block;
}
.result-detail .submit-pred {
  text-align: center;
  font-weight: bold;
  margin-top: 32px;
}
.time-left { font-size: 12px; }
/*** END Results Details ***/

/*** Angular CSS classes ***/
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
/*** END Angular CSS classes ***/

/*** Override Angular Material Styles ***/
.mat-tab-label {
  color: #fff;
  min-width: 33% !important;
}
md-tab-group.half .mat-tab-label { min-width: 50% !important; }
.mat-ink-bar { background-color: #fff; }
[_nghost-c2] {
  margin-top: -50px;
  margin-left: -50px;
}
.mat-spinner path { stroke: #666; }
/*** END Override Angular Material Styles ***/

/*** Override Toastr ***/
.toast-top-right { top: 25px !important; }
/*** END Override Toastr ***/

.bg-strong-success { background-color: #468847; }
.create-success { font-size: 16px; }
.dib { display: inline-block; }

/*** MEDIA QUERIES ***/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .col-sm-6 {
    width: 47%;
    margin: 0 6px;
  }
  header, .main-content {
    width: 80%;
    margin: 0 auto;
  }
  .container { width: 100%; }
  #panel header .toggle-button,
  #panel header .toggle-button-right { margin: 0 15px; }
  .logo-title {
    font-size: 18px;
    padding: 10px;
  }
  .create-prode .col-xs-12 { padding-left: 0; }
  .prode-snapshot { padding: 10px; }
  .single-form { width: 50%; }
  .result-date { font-size: 14px; }
}
@media (min-width: 1200px) {
  .col-lg-4 {
    width: 32%;
    margin: 0 5px;
  }
}
