/* You can add global styles to this file, and also import other style files */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: "Calibre Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}
a {
    color: #fff;
    text-decoration: none;
}

/*** Margin & Paddings styles ***/
.mrm, .mam { margin-right: 10px; }
.mls, .mas { margin-left: 5px; }
.mrs, .mas { margin-right: 5px; }

.ptm, .pam { padding-top: 10px; }
.ptn, .pan { padding-top: 0; }
.prn, .pan { padding-right: 0; }
.pbn, .pan { padding-bottom: 0; }
.pln, .pan { padding-left: 0; }
/*** End Margin & Paddings styles ***/

/*** Loading styles ***/
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*** End Loading styles ***/

/*** Header styles ***/
#panel header .toggle-button {
  font-size: 18px;
  background: transparent;
  border: none;
}
#panel header .toggle-button-right {
  border: 1px solid #fff;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#panel header .toggle-button:focus,
#panel header .toggle-button-right:focus { outline: none; }
/*** End Header styles ***/

/*** SlideOut styles ***/
.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}
.slideout-menu-left {
  left: 0;
}
.slideout-menu-right {
  right: 0;
}
.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #000; /* A background-color is required */
  min-height: 100vh;
}
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}
.slideout-open .slideout-menu {
  display: block;
}
/*** END SlideOut styles ***/

/*** Sidebar Menu ***/
.menu {
    background-color: #1D1F20;
    background-image: linear-gradient(145deg, #1D1F20, #404348);
}
.menu-section { margin: 25px 0; }
.menu-section-title {
    text-transform: uppercase;
    color: #85888d;
    font-weight: 200;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 0 20px;
    margin: 0;
}
.menu-section-list {
    padding: 0;
    margin: 10px 0;
    list-style: none;
}
.menu-section-list li {
    border-bottom: 1px solid #85888d;
}
.menu-section-list a {
    display: block;
    padding: 10px 20px;
}
/*** Sidebar Menu ***/

/*** Main Content ***/
.container-fluid { padding: 0; }
.main-content { padding: 20px 15px; }
.main-content h1 {
  font-size: 20px;
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}
/*** END Main Content ***/

/*** Dashboard ***/
.create-prode {
  margin: 0 0 20px;
}
.create-prode a {
  font-size: 16px;
  font-weight: bold;
}
.create-prode .col-xs-12 { padding: 0; }
.snapshot-wrapper .row { margin: 0; }
.prode-snapshot {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  margin-bottom: 10px;
}
.prode-snapshot img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  max-height: 69px;
  max-width: 65px;
}
.prode-snapshot .ttitle {
  margin: 0;
  font-size: 18px;
}
.prode-snapshot span { display: block; }
.prode-snapshot .players { color: #ccc; }
.prode-snapshot .info { color: #999; }
.prode-snapshot .pos { padding: 0; }
.prode-snapshot .pos .posl {
  display: inline-block;
  width: 65%;
  font-size: 12px;
}
.prode-snapshot .pos .posl .position {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 7px;
}
.prode-snapshot .pos .posr {
  display: inline-block;
  width: 25%;
}
.prode-snapshot .pos .posr .fa-minus { color: #337ab7; }
.prode-snapshot .pos .posr .fa-level-up { color: #468847; }
.prode-snapshot .pos .posr .fa-level-down { color: #d9534f; }
/*** END Dashboard ***/

.bg-strong-success { background-color: #468847; }

/*** MEDIA QUERIES ***/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .col-sm-6 {
    width: 48%;
    margin: 0 6px;
  }
  #panel header .toggle-button,
  #panel header .toggle-button-right { display: none; }
  .main-content {
    width: 80%;
    margin: 0 auto;
  }
  .create-prode .col-xs-12 { padding-left: 0; }
}
@media (min-width: 1200px) {
  .col-lg-4 {
    width: 32%;
    margin: 0 5px;
  }
}
