<div class="main-content">
    <h1>
        <a routerLink="/dashboard">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>&nbsp;
        {{fantasyTournament?.name}}
    </h1>

    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <md-tab-group selectedIndex="0">
                <md-tab label="Partidos">
                    <div class="container ptl">
                        <div *ngFor="let game of games;">
                            <prediction *ngIf="!game.finished" [fantasyTournament]="fantasyTournament" [game]="game" [predictions]="predictions"></prediction>
                        </div>
                    </div>
                </md-tab>

                <md-tab label="Posiciones">
                    <positions *ngIf="fantasyTournament" [fantasyTournament]="fantasyTournament"></positions>
                </md-tab>

                <md-tab label="Resultados">
                    <div class="container ptl">
                        <div *ngFor="let game of games;">
                            <result *ngIf="game.finished" [fantasyTournament]="fantasyTournament" [game]="game" [predictions]="predictions"></result>
                        </div>
                    </div>
                </md-tab>

            </md-tab-group>
        </div>
    </div>
</div>
