<div class="main-content">
    <h1>
        <a routerLink="/dashboard">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>&nbsp;
        {{fantasyTournament?.name}}
    </h1>

    <div class="row">
        <div class="col-xs-12 col-lg-6 col-lg-offset-3">
            <mat-tab-group selectedIndex="0">
                <mat-tab label="Partidos">
                    <div class="container ptl">
                        <div *ngFor="let game of nextGames;">
                            <prediction [fantasyTournament]="fantasyTournament" [game]="game" [predictions]="predictions"></prediction>
                        </div>
                        <p *ngIf="!nextGames?.length && !loading">
                            No hay partidos para pronosticar.
                        </p>
                    </div>
                </mat-tab>

                <mat-tab label="Posiciones">
                    <positions *ngIf="fantasyTournament" [fantasyTournament]="fantasyTournament"></positions>
                </mat-tab>

                <mat-tab label="Resultados">
                    <div class="container ptl">
                        <div *ngFor="let game of finishedGames;">
                            <result [fantasyTournament]="fantasyTournament" [game]="game" [predictions]="predictions"></result>
                        </div>
                        <p *ngIf="!finishedGames?.length">
                            No hay resultados para mostrar.
                        </p>
                    </div>
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>
</div>
