<div class="main-content">
    <h1>
        <a routerLink="/dashboard">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>&nbsp;
        {{fantasyTournament?.name}}
    </h1>

    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <md-tab-group selectedIndex="0">
                <md-tab label="Partidos">Content 1</md-tab>
                <md-tab label="Posiciones">Content 2</md-tab>
                <md-tab label="Resultados">Content 3</md-tab>
            </md-tab-group>
        </div>
    </div>
</div>
