
parameters:
    database_host: {{ db_host }}
    database_port: {{ db_port }}
    database_name: {{ db_name }}
    database_user: {{ db_user }}
    database_password: {{ db_password }}
    mailer_transport: {{ mailer_transport }}
    mailer_host: {{ mailer_host }}
    mailer_user: {{ mailer_user }}
    mailer_password: {{ mailer_password }}
    secret: {{ sf_secret }}
