<nav id="menu-left" class="menu slideout-menu-left">
  <section class="menu-section">
    <h3 class="menu-section-title">
      <img src="/assets/imgs/prode-logo-small.png" />
      <span class="logo-title">&nbsp;&nbsp;Prode De Amigos</span>
    </h3>

    <p class="left-desc pal">Crea y/o &uacute;nete a torneos para jugar y competir con amigos y demostrar quien es el que m&aacute;s sabe de f&uacute;tbol. Buena Suerte!</p>

    <ul class="menu-section-list">
      <li>
        <a routerLink="/dashboard" (click)="toggle('left')">
          <i class="fa fa-trophy"></i>&nbsp;
          Participando en..
        </a>
      </li>
      <li>
        <a routerLink="/crear-torneo" (click)="toggle('left')">
          <i class="fa fa-trophy"></i>&nbsp;
          Crear Torneo
        </a>
      </li>

      <li class="mtl">&nbsp;</li>

      <li>
        <a routerLink="/" (click)="toggle('left')">
          <i class="fa fa-handshake-o"></i>&nbsp;
          T&eacute;rminos y condiciones
        </a>
      </li>
    </ul>
  </section>
</nav>

<nav id="menu-right" class="menu slideout-menu-right">
  <section class="menu-section">
    <h3 class="menu-section-title">Mi Perfil</h3>
    <div class="text-center mtm">
        <img class="img-circle" src="{{ profilePictureUrl || '/assets/imgs/user-placeholder.png' }}" width="125px" />
    </div>
    <ul class="menu-section-list">
        <li>
            <a href="#installation" (click)="toggle('right')">
                <i class="fa fa-pencil-square-o"></i>&nbsp;
                Editar perfil
            </a>
        </li>
        <li>
            <a routerLink="/mis-torneos" (click)="toggle('right')">
                <i class="fa fa-trophy"></i>&nbsp;
                Mis Torneos
            </a>
        </li>
        <li>
            <a href="#browser-support" (click)="toggle('right')">
                <i class="fa fa-envelope-o"></i>&nbsp;
                Soporte
            </a>
        </li>

        <li class="mtl">&nbsp;</li>

        <li>
            <a href="javascript:void(0);" (click)="logout()">
                <i class="fa fa-sign-out"></i>&nbsp;
                Logout
            </a>
        </li>
    </ul>
  </section>
</nav>