<div class="main-content">
    <h1>
        <a routerLink="/">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>&nbsp;
        Soporte
    </h1>

    <div class="row" [hidden]="submitted">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
            <p>Deja nos tus comentarios, preguntas y/o sugerencias y en breve nos contactaremos contigo.</p>
            <form (ngSubmit)="send(); supportForm.reset();" #supportForm="ngForm" class="single-form">
                <div class="form-group">
                    <label for="message">Tu mensaje:</label>
                    <textarea class="form-control" id="message" required [(ngModel)]="model.message" name="message" #message="ngModel" rows="5"></textarea>
                    <div [hidden]="message.valid || message.pristine" class="alert alert-danger">
                        Por favor, deja tu mensaje.
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="!supportForm.form.valid">
                    <strong>Enviar</strong>
                </button>
                <button type="button" class="btn btn-danger btn-block mtm" (click)="cancel()">Cancelar</button>
            </form>
        </div>
    </div>

    <div class="row" [hidden]="!submitted">
        <div class="col-xs-12 col-lg-6 col-lg-offset-3">
            <p>El formulario ha sido enviado exitosamente. En breve nos comunicaremos contigo. </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-sm-offset-4 ptm">
            <a routerLink="/dashboard" class="btn btn-primary btn-block">Volver</a>
        </div>
    </div>
</div>
