<div class="main-content">
    <h1>Torneos en juego</h1>

    <div class="row create-prode">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a routerLink="/crear-torneo" class="btn btn-primary btn-block">
                <i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;
                Crear nuevo torneo Prode
            </a>
        </div>
    </div>

    <div class="snapshot-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let ftournament of fantasyTournaments" class="prode-snapshot col-xs-12 col-sm-6 col-md-4 col-lg-4" (click)="viewFantasyTournament(ftournament.slug)">
                    <div class="col-xs-2 pan text-center">
                        <img class="img-circle" src="{{ ftournament.picture_uri || '/assets/imgs/trophy_placeholder.png' }}" width="100%">
                    </div>
                    <div class="col-xs-8">
                        <h3 class="ttitle">{{ ftournament.name }}</h3>
                        <span class="players">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            {{ playerLabel(ftournament.memberships.length) }}
                        </span>
                        <span class="info">Some info</span>
                    </div>
                    <div class="col-xs-2 pos">
                        <span class="posl text-center">
                            Pos.
                            <span class="position bg-primary">99</span>
                        </span>
                        <span class="posr text-center">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>

                <p *ngIf="!fantasyTournaments?.length && !loading">
                    No estas participando de ning&uacute;n torneo. Espera a ser invitado a alguno, &oacute; puedes crear tu propio torneo e invitar a tus amigos.
                </p>

                <!--<div class="prode-snapshot col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="col-xs-2 pan text-center">
                        <img src="/assets/imgs/trophy_placeholder.png" width="100%">
                    </div>
                    <div class="col-xs-8">
                        <h3 class="ttitle">Fantasy ARG.</h3>
                        <span class="players">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            25 Jugadores
                        </span>
                        <span class="info">Help information</span>
                    </div>
                    <div class="col-xs-2 pos">
                        <span class="posl text-center">
                            Pos.
                            <span class="position bg-strong-success">2</span>
                        </span>
                        <span class="posr text-center">
                            <i class="fa fa-level-up" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>

                <div class="prode-snapshot col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="col-xs-2 pan text-center">
                        <img src="/assets/imgs/trophy_placeholder.png" width="100%">
                    </div>
                    <div class="col-xs-8">
                        <h3 class="ttitle">Copa del Mundo</h3>
                        <span class="players">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            11 Jugadores
                        </span>
                        <span class="info">Help information mundial</span>
                    </div>
                    <div class="col-xs-2 pos">
                        <span class="posl text-center">
                            Pos.
                            <span class="position bg-primary">4</span>
                        </span>
                        <span class="posr text-center">
                            <i class="fa fa-level-down" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
