<div class="main-content">
    <h1>Torneos en juego</h1>

    <div class="row create-prode">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a routerLink="/crear-torneo" class="btn btn-primary btn-block">
                <i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;
                Crear nuevo torneo Prode
            </a>
        </div>
    </div>

    <div class="snapshot-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let ftournament of fantasyTournaments" class="prode-snapshot col-xs-12 col-sm-6 col-md-4 col-lg-4" (click)="viewFantasyTournament(ftournament.slug)">
                    <snapshot [fantasyTournament]="ftournament"></snapshot>
                </div>

                <p *ngIf="!fantasyTournaments?.length && !loading">
                    No estas participando de ning&uacute;n torneo. Espera a ser invitado a alguno, &oacute; puedes crear tu propio torneo e invitar a tus amigos.
                </p>

            </div>
        </div>
    </div>
</div>
